body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#f4f4f4;
  text-align:center;
}

.hero{
  background:#333;
  color:white;
  padding:60px 20px;
}

.btn{
  display:inline-block;
  margin-top:15px;
  background:#25D366;
  color:white;
  padding:12px 25px;
  border-radius:30px;
  text-decoration:none;
}

.menu{
  padding:30px;
}

.card{
  background:white;
  display:inline-block;
  width:220px;
  margin:10px;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.card img{
  width:100%;
  height:140px;
  object-fit:cover;
}

footer{
  background:#111;
  color:white;
  padding:20px;
  margin-top:40px;
}
footer a{color:#25D366;text-decoration:none;}
footer a{
  color:#25D366;
  text-decoration:none;
  font-weight:bold;
}
